@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --primary-red-color: #C73547;
  --primary-yellow-color: #FFC800;
}
@keyframes mobileSlideDown {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes mobileSlideRight {
  from {
    opacity: 0;
    transform: translateX(16px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
